{#
  Title: Testimonial
  Description: test
  Category: formatting
  Icon: admin-comments
  Keywords: testimonial quote
#}

<blockquote class="{{ classes }}" is='block-testimonial' data-{{ block.id }}>
    <p>{{fields.name}}</p>
    <cite>
      <span>{{fields.quote}}</span>
    </cite>  
</blockquote>