{% block header %}
  <section class="{{ classes }} section" is="wpf-block-cards" data-{{ block.id }}>
      <div class="container py-4">
        <div class="columns mb-5">
          <div class="column">
            <h2 class="title">The Pied Piper Blog</h2>
          </div>
          <div class="column">
            <p class="subtitle">Our newsletter features articles from Richard, Gilfoyle and Dinesh, with occasional guest features from our investors and supporters.</p>
          </div>
        </div>
        <div class="columns is-multiline">
        
          <div class="column is-12 is-4-widescreen">
            <div class="card">
              <div class="card-header">
                <div class="card-header-title">
                  <h5 class="subtitle is-5">{{fields.label}}</h5>
                </div>
                <div class="card-header-icon"><a href="#">See all</a></div>
              </div>
              <div class="card-image"><a href="#"><img src="https://shuffle.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
              <div class="card-content">
                <div class="menu">
                  <ul class="menu-list">
                    <li><a href="#"><span>Titre</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                    <li><a href="#"><span>Titre</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                    <li><a href="#"><span>Titre</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="column is-12 is-4-widescreen">
            <div class="card">
              <div class="card-header">
                <div class="card-header-title">
                  <h5 class="subtitle is-5">Label</h5>
                </div>
                <div class="card-header-icon"><a href="#">See all</a></div>
              </div>
              <div class="card-image"><a href="#"><img src="https://shuffle.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
              <div class="card-content">
                <div class="menu">
                  <ul class="menu-list">
                    <li><a href="#"><span>Why I'm the Best Programmer Ever</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                    <li><a href="#"><span>Secrets of Decentralization</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                    <li><a href="#"><span>How Our ICO Almost Failed</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12 is-4-widescreen">
            <div class="card">
              <div class="card-header">
                <div class="card-header-title">
                  <h5 class="subtitle is-5">Label</h5>
                </div>
                <div class="card-header-icon"><a href="#">See all</a></div>
              </div>
              <div class="card-image"><a href="#"><img src="https://shuffle.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
              <div class="card-content">
                <div class="menu">
                  <ul class="menu-list">
                    <li><a href="#"><span>Why I'm the Best Programmer Ever</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                    <li><a href="#"><span>Secrets of Decentralization</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                    <li><a href="#"><span>How Our ICO Almost Failed</span><span class="is-pulled-right">&rsaquo;</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}