<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html dir="ltr" class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->

	{% block head %}
    {% include 'head.twig' %}
	{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
  
    {% block header %}
      {% include 'header/index.twig' %}
    {% endblock %}

      {% block content %}
      {% endblock %}  

      {% block footer %}
  	{% include 'footer/index.twig' %}
  	{% endblock %}

	</body>
</html>
