{% extends "base.twig" %}

{% block content %}
<div class="container is-fluid">
	<section class="section">
		<div class="container py-4">
			<h2 class="title has-text-centered mb-6">{{ __('The WP Fizz Blog', 'wpf-theme') }}</h2>
			<div class="columns is-multiline mb-6">
			{% for post in posts %}
				{% include ['tease/tease-'~post.post_type~'.twig', 'tease/index.twig'] %}
			{% endfor %}
			</div>
		</div>
		{% include 'pagination/index.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</section>
</div>		
{% endblock %}
