$yellow: hsl(48, 100%, 67%);
$link: #F58634;
$red: hsl(348, 100%, 61%);
$grey-darker: hsl(0, 0%, 21%);
$dark: $grey-darker;
$body-color: $dark;
$white-ter: hsl(0, 0%, 96%);
$background: #ffcc29;
$danger: $red;
$turquoise: hsl(171, 100%, 41%);
$primary: #F58634;
$button-background-color: $primary;
$family-sans-serif: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$subtitle-family: false;
$title-family: "Arbutus Slab", serif;
