{#
  Title: Témoignage
  Description: test
  Category: formatting
  Icon: admin-comments
  Keywords: testimonial quote
#}

<blockquote data- class="">
    <p>test</p>
    <cite>
      <img src="test" alt="" />
      <span>yo man</span>
    </cite>
    
</blockquote>

<style type="text/css">

</style>