 {% block footer %}
  <footer class="footer">
    <div class="container has-text-centered">
      <div class="block">
        <a class="title is-4" href="#"><img src="{{site.theme.link}}/assets/src/img/cover.png" alt="WP Fizz" width="100"></a>
      </div>
    <div class="buttons is-centered">
      <a class="button" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/linkedin-in.svg" alt=""></a>
    </div>
    <p class="subtitle is-6">Copyright {{"now"|date('Y')}} WP Fizz. All right reserved.</p>
  </div>
  </footer>
{% endblock %}
{{ function('wp_footer') }}