{#
  Title: Testimonial
  Description: test
  Category: formatting
  Icon: admin-comments
  Keywords: testimonial quote
#}

<blockquote data- class="">
    <p>{{fields.name}}</p>
    <cite>
      <span>{{fields.quote}}</span>
    </cite>  
</blockquote>

<style type="text/css">

</style>